In [15]:
# Creating a series

import pandas as pd
import numpy as np

ser = pd.Series()  #
print(ser)

data = np.array(["g", "e", "e", "k", "s"])
print(data)

ser = pd.Series(data)
print(ser)
ser[3]

Series([], dtype: object)
['g' 'e' 'e' 'k' 's']
0    g
1    e
2    e
3    k
4    s
dtype: object

'k'

In [17]:
# Series from list
list = ["g", "e", "e", "k", "s"]

ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [48]:
# Indexing
data = pd.read_csv("airlines.csv")
data
data.head()  # First N
data.tail()  # Last N (default 5)
data.columns  # Columns
data["Active"]  # Print 'Active' Column of all rows
data["Country"]

0                  NaN
1        United States
2         South Africa
3       United Kingdom
4               Russia
             ...
6156             China
6157     United States
6158         Australia
6159             India
6160            Russia
Name: Country, Length: 6161, dtype: object

In [45]:
# Pandas Dataframe

lst = ["Geeks", "For", "Geeks", "is", "Portal", "For", "Geeks"]
df = pd.DataFrame(lst, columns=["Head Title"])
print(df)
print()

dataName = {"Name": ["Tom", "Nick", "Jay", "Jack"], "Age": [20, 19, 21, 18]}
df = pd.DataFrame(dataName)
print(df)

  Head Title
0      Geeks
1        For
2      Geeks
3         is
4     Portal
5        For
6      Geeks

   Name  Age
0   Tom   20
1  Nick   19
2   Jay   21
3  Jack   18

In [55]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6161 entries, 0 to 6160
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      6161 non-null   object
 1   IATA      1534 non-null   object
 2   ICAO      6075 non-null   object
 3   Callsign  5353 non-null   object
 4   Country   6146 non-null   object
 5   Active    6161 non-null   object
dtypes: object(6)
memory usage: 288.9+ KB

                   Name  IATA  ICAO Callsign        Country Active
count              6161  1534  6075     5353           6146   6161
unique             6072  1121  5854     5262            277      3
top     Royal Air Force    1I    \N     Inc.  United States      N
freq                  5     7   188       20           1099   4906

In [65]:
# Reindexing
info = pd.DataFrame([114, 5], index=["A", "B"], columns=["Values"])
print(info)

info.reindex(["AA", "BB"], fill_value=10)
print(info)

   Values
A     114
B       5
   Values
A     114
B       5

In [83]:
unsortedDF = pd.DataFrame(
    data=np.random.randn(10, 2),
    # columns=["c1", "c2"],
    columns=["c4", "c2"],
    index=[1, 5, 8, 4, 16, 9, 5, 7, 4, 69],
)
print(unsortedDF)
sortedDF = unsortedDF.sort_index()
print(sortedDF)

sortedDF = unsortedDF.sort_index(ascending=False)
# print(sortedDF)

sortedDF = unsortedDF.sort_index(axis=1)  # Sorting as Columns
print(sortedDF)

          c4        c2
1  -0.162932 -0.519346
5  -0.046286  0.170575
8   0.516950  1.352456
4  -1.243991 -0.885991
16 -1.750190  0.075136
9   0.218104  0.454792
5   1.126956 -0.189743
7   1.066696 -0.936515
4   1.981983 -0.624764
69 -0.176938 -0.763704
          c4        c2
1  -0.162932 -0.519346
4  -1.243991 -0.885991
4   1.981983 -0.624764
5  -0.046286  0.170575
5   1.126956 -0.189743
7   1.066696 -0.936515
8   0.516950  1.352456
9   0.218104  0.454792
16 -1.750190  0.075136
69 -0.176938 -0.763704
          c2        c4
1  -0.519346 -0.162932
5   0.170575 -0.046286
8   1.352456  0.516950
4  -0.885991 -1.243991
16  0.075136 -1.750190
9   0.454792  0.218104
5  -0.189743  1.126956
7  -0.936515  1.066696
4  -0.624764  1.981983
69 -0.763704 -0.176938

In [93]:
unsortedDF = pd.DataFrame(
    data={"col1": [2, 3, 4, 1], "col2": [1, 3, 4, 3], "col3": [3, 1, 2, 4]}
)
print(unsortedDF.sort_values(by="col2"))

   col1  col2  col3
0     2     1     3
1     3     3     1
3     1     3     4
2     4     4     2

In [103]:
s = pd.Series(["Tom", "John", np.nan, "Red", 43])
print(s.str.lower())
print(s.str.upper())
print(s.str.len())
print(s.count())

0     tom
1    john
2     NaN
3     red
4     NaN
dtype: object
0     TOM
1    JOHN
2     NaN
3     RED
4     NaN
dtype: object
0    3.0
1    4.0
2    NaN
3    3.0
4    NaN
dtype: float64
4

In [125]:
# Indexing and selecting

data = pd.read_csv("nba.csv", index_col="Name")
print(data.head())

first = data["Age"]
print(first.tail())

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
Name
Shelvin Mack    26.0
Raul Neto       24.0
Tibor Pleiss    26.0
Jeff Withey     26.0
NaN              NaN
Name: Age, dtype: float64

In [136]:
# Loc[] and iLoc[]
data = pd.read_csv("nba.csv")
print(data.loc[0], "\n")  # Location by numeric index
print(data.loc[1], "\n")

data = pd.read_csv("nba.csv", index_col="Name")
print(data.iloc[1])  # Location by alphanum index

Name         Avery Bradley
Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: 0, dtype: object

Name           Jae Crowder
Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: 1, dtype: object

Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object